<h1>Asian Analyse</h1>
<%= link_to "공지사항", new_home_path %><br>
<% if @articles.present? %> 
<%= link_to '크롤링', articles_path %>
<% else %>
    <p>아직 크롤링 한게 없습니다</p>
<% end %><br>
 
<%= link_to '게시판', new_post_path %><hr>
<% if @posts.present? %> 
<h3>게시판</h3>
  <table>
    <tr>
      <th>작성자</th>
      <th>제목</th>
      <th>내용</th>
      <th>보기</th>
      <th>수정</th>
      <th>삭제</th>
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to '보기', post %></td>
        <td><%= link_to '수정', edit_post_path(post) %></td>
        <td><%= link_to '삭제', post_path(post), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% else %>
    <p>아직 게시판이 없습니다</p>
<% end %>
 
